@mixin flex {
	display: flex;
	align-items: center;
}

@mixin flex-center {
	@include flex;
	justify-content: center;
}

@mixin flex-between {
	@include flex;
	justify-content: space-between;
}

@mixin flex-end {
	@include flex;
	justify-content: flex-end;
}

@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}