// Colors
$white: #ffffff;
$light: #f6f6f6;
$gray: #7a7a7a;
$dark-gray: #303030;
$dark-teal: #476167;
$black: #000000;
$primary: #f4701d;
$light-orange: #F57C1F;
$dark-orange: #F5371F;
$blue: #4C53F7;

// Font family
$body-font: 'Lato', sans-serif;
$display-font: 'Lato', sans-serif;

// Font sizes
$fs-xs: 12px;
$fs-sm: 14px;
$fs-base: 16px;
$fs-lg: 18px;
$fs-lead: 20px;

$h1-fs: 36px;
$h2-fs: 30px;
$h3-fs: 24px;
$h4-fs: 20px;
$h5-fs: 18px;
$h6-fs: 16px;

// Font Weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-bolder: 900;

// Line Heights
$lh-normal: 1;
$lh-sm: 1.3;
$lh-base: 1.5;
$lh-lg: 1.7;

// Transitions
$transition: all 0.2s ease-in-out;
$btn-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
	box-shadow 0.2s ease-in-out;
