// Header top
.header-top-linklists {
    @include reset-list;
    @include flex-end;
    gap: 30px;

    li {
        line-height: 1;
    }

    a {
        color: $white;
        font-size: 11px;
        font-weight: $fw-bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 0;

        &:hover {
            color: $primary;
        }
    }
}

// Header
.navbar {
    box-shadow: 0 5px 15px rgba($black, 0.1);
    padding: 12px 0;
    position: relative;
    z-index: 100;

    .buttons {
        @include flex;
        gap: 5px;
        margin-left: 20px;

        @media(max-width:991px) {
            margin-left: 16px;
            margin-top: 20px;
        }
    }
}

.navbar-brand {
    padding: 0;
    position: relative;
    top: -2px;

    img {
        max-height: 57px;

        @media(max-width:1199px) {
            max-height: 50px;
        }

        @media(max-width:991px) {
            max-height: 40px;
        }
    }
}

.navbar-nav {
    .nav-link {
        color: $gray;
        text-transform: uppercase;


        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $primary;
        }
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 20px;

    @media(max-width:1199px) {
        padding: 10px 15px;
    }
}

.navbar-toggler {
    border: 0;
    padding: 0;
    background: none;
    outline: 0 !important;
    box-shadow: none !important;
    width: 26px;

    span {
        display: block;
        width: 100%;
        height: 2px;
        background: $dark-gray;
        transition: $transition;
        transform: rotate(0deg);
        transform-origin: center center;
    }

    span+span {
        margin-top: 7px;
    }


    &[aria-expanded="true"] {
        span {
            background: $dark-orange;

            &:first-child {
                transform: rotate(45deg);
                transform-origin: left top;
            }

            &:last-child {
                transform: rotate(-45deg);
                transform-origin: left bottom;
            }

            &:nth-child(2) {
                width: 0;
                opacity: 0;
            }
        }
    }

}

@media (max-width: 991px) {

    #navbarContent {
        position: fixed;
        top: 0;
        left: -100px;
        opacity: 0;
        visibility: hidden;
        width: 250px;
        height: 100%;
        background: $white;
        z-index: 99;
        justify-content: space-between;
        padding: 2rem 0;
        box-shadow: 3px 0 6px rgba($black, .2);
        transition: 0.1s;

        &.show {
            left: 0;
            opacity: 1;
            visibility: visible;
        }
    }
}
