// Hero Index
.hero-section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: $white;
        opacity: 0;
        z-index: -1;
        visibility: hidden;

        @media (max-width: 991px) {
            opacity: 0.8;
            visibility: visible;
        }
    }

    @media (max-width: 1599px) {
        padding: 30px 0;
    }


}

.hero-content {
    position: relative;
    z-index: 1;

    p {
        color: $dark-teal;
        font-weight: $fw-semibold;
        line-height: $lh-sm;
        margin-bottom: 10px;

        @media (max-width: 991px) {
            // color: $primary;

            br {
                display: none;
            }
        }
    }
}

.intro-video {
    max-width: 430px;
}



// Newsletter
.newsletter-section {
    padding: 25px 0;
    background: $white;
}

.subscribe-form {
    position: relative;

    .icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        line-height: 1;

        img {
            display: block;
        }
    }

    .form-control {
        height: 34px;
        width: 300px;
        padding: 3px 35px 5px 45px;

        &:focus {
            color: $gray;
        }

        @media (max-width:991px) {
            width: 200px;
        }

        @media (max-width:767px) {
            width: 100%;
        }
    }

    .subscribe-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        line-height: 1;
        padding: 0;
        border: 0;
        background: none;
        outline: 0;
        border-radius: 100%;

        img {
            display: block;
            max-width: 100%;
        }
    }
}


.bg-gradient-primary {
    background: $dark-orange;
    background: linear-gradient(90deg, $dark-orange 0%, $light-orange 100%);

    .subscribe-form {

        .form-control {
            border-color: $white;

            &:focus {
                border-color: $white;
                box-shadow: 0 0 0 0.25rem rgba($white, .25);
            }
        }

        .subscribe-btn {
            border: 1px solid $white;
        }
    }
}

// promo-products-section 

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width:991px) {
        grid-template-columns: 1fr;
    }

    .item {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: $white;

        .container {
            @media (min-width:1200px) {
                max-width: 570px;
            }
        }

        @media (min-width:768px) {
            .content {
                margin-left: -30px;
            }

            .product-details {
                margin-left: -20px;
            }
        }


    }
}