<div class="features-section">
	<div class="feature">
		<div class="container">
			<div class="row align-items-end">
				<div class="col-lg-6 order-lg-2">
					<div class="feature-img mt-lg-3">
						<img src="{{ 'block04-image01.png' | asset_url }}" alt="" class="img-fluid" />
					</div>
				</div>
				<div class="col-lg-6 order-lg-1 text-lg-end align-self-center py-4">
					<div class="feature-content">
						<h2 class="text-primary fst-italic">You asked for, and now we got it!</h2>
						<p class="fst-italic fs-lg mb-lg-0">
							New and enhanced Pro-only features that you won’t find anywhere else on the market. Use Moho
							Pro’s brand-new bitmap and freehand drawing capabilities, powerful vector animation tools,
							our revolutionary bone-rigging system, improved 3D object support, and more for a simplified
							and more efficient workflow.
							<br />
							<br />
							This is the all-in-one animation tool for professionals and digital artists. Moho animation
							software has been used around the world to create amazing animations in professional
							studios, agencies, and OSCAR® nominated films.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feature bg-light">
		<div class="container">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="feature-img">
						<img src="{{ 'block04-image02.jpg' | asset_url }}" alt="" class="img-fluid" />
					</div>
				</div>
				<div class="col-lg-4 align-self-center py-4">
					<div class="feature-content">
						<h2 class="text-primary fst-italic">Complete 2D Animation Software for Beginners</h2>
						<p class="fst-italic fs-lg mb-lg-0">
							Moho® Debut 13 (formerly Anime Studio Debut) for beginner animators is fun, easy, and
							exciting. It's a great tool for artistic expression and ideal for any age group. While it is
							very affordable, this entry-level animation software program is also very powerful. You
							won't find your ideas or projects limited by the features of the software. Detailed video
							tutorials make learning the tools a snap and pre-made content and characters help you get
							started right away. Get you or your kids started today!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="feature">
		<div class="container">
			<div class="row align-items-end">
				<div class="col-lg-6 order-lg-2">
					<div class="feature-img mt-lg-3">
						<img src="{{ 'block04-image03.png' | asset_url }}" alt="" class="img-fluid" />
					</div>
				</div>
				<div class="col-lg-6 order-lg-1 text-lg-end align-self-center py-4">
					<div class="feature-content">
						<h2 class="text-primary fst-italic">What will you animate?</h2>
						<p class="fst-italic fs-lg">
							Moho Debut 13 is easy-to-use 2D animation software that’s perfect for beginners. We’re not
							limiting your creativity with software that is difficult to learn. Whether you’re looking
							for fun or for function, your only limitations are what you can imagine.
							<br />
							<br />
							And when you’re ready for advanced features, Moho Pro 13 is your next step in advancing the
							animation skills and capabilities you’ve gained. With new and enhanced Pro-only features and
							capabilities, you can take your animation abilities to the next level—a level you’ve only
							dreamed of, so far.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
