<nav class="navbar navbar-expand-lg bg-white">
    <div class="container">
        <a class="navbar-brand" href="{{ routes.root_url }}">
            <img src="{{ 'MOHO-LOGO_header.png' | asset_img_url: 'master' }}" alt="moho logo">
        </a>
        <button aria-expanded="false" class="navbar-toggler" data-bs-target="#navbarContent" data-bs-toggle="collapse" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FEATURES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ADD-ONS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">EDUCATION</a>
                </li>
            </ul>
            <div class="buttons">
                <a href="#" class="btn btn-primary-gradient">Try</a>
                <a href="#" class="btn btn-primary-gradient">Buy</a>
            </div>
        </div>
    </div>
</nav>