<div class="header-top bg-dark-gray">
    <div class="container">
        <ul class="header-top-linklists">
            <li><a href="#">Forum</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>