<div class="hero-section" style="background-image: url({{ 'block01_IMG.jpg' | asset_url }})">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-end">
            <div class="col-md-9 col-lg-6">
                <div class="hero-content text-center text-lg-end">
                    <p>
                        Moho® has everything you need to make amazing,
                        <br/>
                        professional animations. Used in the OSCAR® nominated films,
                        <br/>
                        The Breadwinner and Song of the Sea, for Best Animated Feature Film.
                    </p>
                    <p>
                        <strong>Try Moho FREE For 30 Days!</strong>
                    </p>
                    <div class="intro-video ratio ratio-16x9 mx-auto ms-lg-auto me-lg-0 mt-4">
                        <iframe allowfullscreen src="https://www.youtube.com/embed/-7Mr102mll4" title="YouTube video"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
