<div class="newsletter-section">
    <div class="container d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-center gap-2 gap-lg-3">
        <h3 class="text-uppercase text-primary mb-0">NEWSLETTER</h3>
        <p class="fst-italic fs-lg mb-2 mb-md-0">Want the latest news of MOHO? Sign up!</p>
        <form action="#" class="subscribe-form mb-0">
            <div class="icon">
                <img src="{{ 'block02_letter-icon.png' | asset_url }}" alt="">
            </div>
            <input type="email" placeholder="Email" class="form-control rounded-pill">
            <button type="submit" class="subscribe-btn">
                <img src="{{ 'block02_button-arrow.png' | asset_url }}" alt="">
            </button>
        </form>
    </div>
</div>