<div class="promo-products-section">
	<div class="product-grid">
		<div class="item item-1 pb-4 py-lg-4" style="background-image: url({{ 'block03_bg01.png' | asset_url }})">
			<div class="container ms-lg-auto me-lg-0">
				<div class="row">
					<div class="col-md-12">
						<div class="content d-flex flex-column flex-md-row align-items-center">
							<div class="product-img">
								<img src="{{ 'block03_BOX-PRO.png' | asset_url }}" alt="" />
							</div>
							<div class="product-details text-center text-md-start">
								<h2 class="text-uppercase fst-italic">Moho Pro 13.5</h2>
								<p class="fst-italic fs-lg">
									Moho Pro 13 is changing the animation software game. Combining powerful animation
									technology with state-of-the-art professional animation tools, you can make your
									best animation projects come to life faster and easier.
								</p>
								<a class="btn btn-sm btn-white-outlined" href="#">Learn More...</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item item-2 pb-4 py-lg-4" style="background-image: url({{ 'block03_bg02.png' | asset_url }})">
			<div class="container me-lg-auto ms-lg-0">
				<div class="row">
					<div class="col-md-12">
						<div class="content d-flex flex-column flex-md-row align-items-center">
							<div class="product-img">
								<img src="{{ 'block03_BOX-DEBUT.png' | asset_url }}" alt="" />
							</div>
							<div class="product-details text-center text-md-start">
								<h2 class="text-uppercase fst-italic">Moho Debut 13.5</h2>
								<p class="fst-italic fs-lg">
									Moho Debut 13 is a professional-grade animation software that will forever change
									what you create and how you animate. Whether you’re a professional or you want to
									animate like one, start using Moho 13 Debut today.
								</p>
								<a class="btn btn-sm btn-white-outlined" href="#">Learn More...</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
