<div class="page support-page">
	<div class="moho-pro py-4 has-bg-image" style="background-image: url({{ 'orange-gradient-bg.jpg' | asset_url }})">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-4 text-center">
					<div class="product-img">
						<img src="{{ 'box-pro-lg.png' | asset_url }}" alt="" class="img-fluid" />
					</div>
				</div>
				<div class="col-md-8">
					<div class="product-details text-center text-md-start">
						<h2 class="text-white text-uppercase fst-italic">Moho Pro 13.5 - 30-Day Free Trial</h2>
						<p class="text-white fst-italic fs-lg">
							Bring your imagination to life! Moho Pro 13 is your complete animation program for creating
							2D movies, cartoons, vector, stop motion and cut out animations. Create your own desktop
							animated shorts in the style of traditional cartoons or use it to produce animations for
							film, video or streaming over the web.
						</p>
						<div
							class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-start gap-3"
						>
							<div>
								<h5 class="text-white text-uppercase fst-italic mb-1">13 .5 Supports All Mac OS</h5>
								<a class="btn btn-white-outlined text-capitalize" href="#">
									Download Moho Pro 13 Trial for Macintosh
								</a>
							</div>
							<div>
								<h5 class="text-white text-uppercase fst-italic mb-1">13 supports All Windows</h5>
								<a class="btn btn-white-outlined text-capitalize" href="#">
									Download Moho Pro 13 Trial for Windows
								</a>
							</div>
						</div>
						<p class="text-white fs-xs fst-italic mt-3">
							Includes language support for: English, Spanish, French, German, Chinese (Simplified) and
							Japanese.
							<br />
							Be sure to check the
							<a href="#" class="text-white text-decoration-underline">System Requirements</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="newsletter-section bg-light">
		<div
			class="container d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-center gap-2 gap-lg-3"
		>
			<h3 class="text-uppercase text-primary mb-0">NEWSLETTER</h3>
			<p class="fst-italic fs-lg mb-2 mb-md-0">Want the latest news of MOHO? Sign up!</p>
			<form action="#" class="subscribe-form mb-0">
				<div class="icon">
					<img src="{{ 'block02_letter-icon.png' | asset_url }}" alt="" />
				</div>
				<input type="email" placeholder="Email" class="form-control rounded-pill" />
				<button type="submit" class="subscribe-btn">
					<img src="{{ 'block02_button-arrow.png' | asset_url }}" alt="" />
				</button>
			</form>
		</div>
	</div>

	<div class="about-trial py-5">
		<div class="container">
			<h2 class="text-primary fst-italic text-uppercase mb-4">About the Trial</h2>
			<p class="fs-lg fst-italic mb-4">
				While in trial mode, Moho allows you access to all features of the program. Anything you can do in the
				full version you can do in the trial. Also, any files you create with the trial version of Moho will
				still work fine if you purchase the full version. The trial version has three limitations:
			</p>
			<p class="fs-lg fst-italic mb-4">The trial version has three limitations:</p>
			<ul>
				<li>The trial version of Moho runs for 30 days.</li>
				<li>Export of animations to other formats (QuickTime, AVI, Flash etc.) is disabled.</li>
			</ul>
			<p class="fs-lg fst-italic">
				To continue using Moho after the 30 day trial period you can purchase Moho Pro 13.5 or Moho Debut 13.5
				and enter the paid serial number.
			</p>
		</div>
	</div>

	<div class="system-requirements pb-5">
		<div class="container">
			<h2 class="text-primary fst-italic text-uppercase mb-4">System Requirements</h2>
			<div class="row">
				<div class="col-md-6 mb-4 mb-md-0">
					<h3 class="fst-italic mb-4">Windows</h3>
					<ul>
						<li>Windows® 10 recommended *</li>
						<li>64-bit OS required</li>
						<li>2.0 GHz Intel Core i3 or higher</li>
						<li>4 GB RAM or higher</li>
						<li>1.6 GB free hard drive space or higher</li>
						<li>OpenGL 4.1 supported graphics card required (1920x1080 recommended) **</li>
						<li>Online connection required to perform online activation</li>
					</ul>
				</div>
				<div class="col-md-6 mb-4">
					<h3 class="fst-italic mb-4">Macintosh</h3>
					<ul>
						<li>Macintosh® OS X 10.13 or 10.14 recommended. Mac OS 11 not currently supported. *</li>
						<li>64-bit OS required</li>
						<li>2.0 GHz Intel Core i3 or higher</li>
						<li>4 GB RAM or higher</li>
						<li>1.6 GB free hard drive space or higher</li>
						<li>OpenGL 4.1 supported graphics card required (1920x1080 recommended) **</li>
						<li>Online connection required to perform online activation</li>
					</ul>
				</div>
				<div class="col-12">
					<p class="fs-lg fst-italic mb-4">
						* Smith Micro has done extensive testing of Moho on Windows 10, macOS 10.14, and macOS 10.13.
						Moho can be installed on older operating systems, but this is not recommended as there might be
						instabilities. Moho will not work on anything older than Windows 7 (version 6.1) or macOS 10.10.
						There are currently no details on an update or new version to support Mac OS 11. Smith Micro
						will only provide full technical support for issues on Windows 10, macOS 10.14, macOS 10.13, and
						limited support for Windows 7 issues.
					</p>
					<p class="fs-lg fst-italic">
						** For high pixel density displays, minimum resolution will vary according to the operating
						system recommend scaling level. For example, if the OS recommends a scaling level of 200%, the
						minimum requirement may be as high as 2736x1824 resolution. Or if the OS recommends a scaling
						level of 150%, the minimum requirement may be as high as 2160x1440 resolution.
					</p>
				</div>
			</div>
		</div>
	</div>

	{% section 'testimonial' %}
</div>
